<div class="mbx">当前位置： 
	#home() &gt;&gt; 
	#template() &gt;&gt;
	#addtemplate()
</div>
<div class="columnset">
	<div class="manbtn">
		<!--<a href="javascript:void(0);" id="savetemplate" class="easyui-linkbuttonprimary">保 存</a>
		--><button id="savetemplate" type="button" class="btn btn-small btn-primary"><i class="icon-ok-sign icon-white"></i> 保 存</button>
	</div>
	添加模板
</div>
<div class="formdiv">
	<form id="templateForm" method="post" enctype="multipart/form-data">
	    <div>
	        <label for="template.t_name">模板名称：</label>
	        <input class="easyui-validatebox" type="text"" name="template.t_name" data-options="required:true"/>
	    </div>
	    <div>
	        <label for="template.t_title">模板标题：</label>
	        <input class="easyui-validatebox" type="text" name="template.t_title" data-options="required:true"/>  
	    </div>
	    <div>
	        <label for="cover">模板封面：</label>
	        <input class="easyui-validatebox" type="file" name="cover" data-options="required:true">
	    </div>
	    <div>
	        <label for="template.t_isapply">使用状态：</label>
	        <input type="radio" name="template.t_isapply" value="1"/> 是
	        <input type="radio" name="template.t_isapply" value="0" checked="checked"/> 否
	    </div>
	    <div>
	    	<label class="arealabel" for="template.description">模板描述：</label>
	    	<textarea rows="3" cols="30" name="template.description"></textarea>
	    </div>
	</form>
</div>
#literal()
<script type="text/javascript">
<!--
	$("#templateForm").form({
		url:'template!addTemplate.action',
		onSubmit:function(){
			var isValid = $(this).form('validate');
			return isValid;
		},
		success:function(data){
		}
	});
	$("#savetemplate").on('click',function(){
		$("#templateForm").submit();
	});
//-->
</script>
#end